:root {
  --color-bg:#FFF8F8;
  --color-bg-offset:#181818;
  --color-text:#000;
  --color-text-offset:#002D72;
  --color-text-third:#525252;
  --color-text-fourth:#72002D;
  --color-bg-third:#2D7200
  }
  
  .color--blue {
  color:var(--color-text-offset)
  }
  
  .backgroundcolor--blue {
  background-color:var(--color-text-offset)
  }
  
  .color--white {
  color:var(--color-bg)
  }
  
  .color--red {
  color:var(--color-text-fourth)
  }
  
  .footer a:hover {
  color:var(--color-text-offset);
  text-decoration:underline
  }
  
  .green-button {
  background-color:var(--color-bg-third)
  }