:root {
  --color-bg:#FFF8F8;
  --color-bg-offset:#181818;
  --color-text:#000;
  --color-text-offset:#4947D7;
  --color-text-third:#525252;
  --color-text-fourth:#C03221;
  --color-bg-third:#000000;
  }
  
  .color--blue {
  color:var(--color-text-offset)
  }
  
  .backgroundcolor--blue {
  background-color:var(--color-text-offset)
  }
  
  .backgroundcolor--black {
  background-color:var(--color-text)
  }
  
  .backgroundcolor--white {
  background-color:var(--color-bg)
  }
  
  .backgroundcolor--red {
  background-color:var(--color-text-fourth)
  }
  
  .backgroundcolor--green {
  background-color:var(--color-text-third)
  }
  
  .color--white {
  color:var(--color-bg)
  }
  
  .color--red {
  color:var(--color-text-fourth)
  }
  
  .footer a:hover {
  color:var(--color-text-offset);
  text-decoration:underline
  }
  
  .green-button {
  background-color:var(--color-bg-third)
  }