@import "https://fonts.googleapis.com/css2?family=Lora:ital,wght@0,400;0,700;1,400&display=swap";
@import "https://fonts.googleapis.com/css2?family=Merriweather:wght@400;700&display=swap";

.title {
font-family:'Merriweather',serif;
font-size:24px;
font-weight:700;
grid-column:1/-1;
margin-bottom:18px;
margin-top:36px
}

.title--big {
font-size:32px
}

.introSection_title {
margin-top:15vh;
font-weight:400;
line-height:58px
}

.introSection_subtitle {
color:var(--color-text-third);
font-size:16px;
margin-top:16px
}

body {
font-size:16px;
font-stretch:normal;
font-style:normal;
font-weight:400;
line-height:1.5;
overflow-x:hidden;
font-family:'Lora',serif;
color:var(--color-text);
background-color:var(--color-bg)
}

.txt {
grid-column:1/5;
margin-bottom:18px;
max-width:70ch
}

.second-title {
font-size:24px;
white-space:pre-line
}

.copyright {
font-size:13.5px
}

.lien {
text-decoration:underline
}

.lien:visited {
opacity:.7;
text-decoration:line-through
}

.lien:hover {
text-decoration:overline
}

.txt--italic {
font-style:italic;
font-weight:lighter
}

.txt--bold {
font-weight:700
}

.txt--underline {
text-decoration:underline
}

.txt--centered {
text-align:center
}

.txt--overline {
text-decoration:overline
}

.menu-list_el:hover {
text-decoration:overline
}

.citation {
margin-bottom:90px;
margin-top:90px;
text-align:center
}

.title--small {
font-size:18px
}

.txt--highlight {
border-left:12px solid var(--color-text-fourth);
padding-left:12px
}

@media (min-width: 860px) {
body {
font-size:18px
}

.title {
font-size:36px
}

.title--big {
font-size:72px
}

.title--small {
font-size:24px
}
}