.content {
  display:grid;
  grid-column-gap:16px;
  grid-row-gap:16px;
  grid-template-columns:1fr 1fr 1fr 1fr;
  margin-bottom:36px;
  max-width:500px;
  padding:0 36px;
  position:relative
  }
  
  .button {
  border-style:solid;
  border-width:2px;
  border-radius:5px;
  padding:10px 20px;
  grid-column:1/5
  }
  
  .introSection {
  padding:36px
  }
  
  .slider-container {
  align-items:center;
  max-width:100vw;
  max-height:100vh;
  overflow:hidden;
  position:relative;
  background-color:var(--color-text-offset);
  color:var(--color-bg)
  }
  
  .slider {
  display:flex;
  transition:transform .5s ease-in-out
  }
  
  .slider__content {
  min-height:100%;
  min-width:100%;
  object-fit:cover;
  padding:36px
  }
  
  .navigation {
  align-items:center;
  display:flex;
  justify-content:space-between;
  left:15vw;
  position:absolute;
  right:15vw;
  transform:translateY(-50%)
  }
  
  .navigation__arrow {
  background-color:var(--color-bg);
  border-radius:5px;
  color:#000;
  cursor:pointer;
  font-size:20px;
  padding:2px
  }
  
  .navigation__arrow--left {
  margin-left:10px
  }
  
  .navigation__arrow--right {
  margin-right:10px
  }
  
  .indicators {
  cursor:pointer;
  display:flex;
  justify-content:center;
  margin-top:18px;
  margin-bottom:18px
  }
  
  .indicators__indicator {
  background-color:var(--color-bg);
  border-radius:50%;
  height:10px;
  margin:0 5px;
  transition:.3s;
  width:10px
  }
  
  .active {
  background-color:var(--color-text-fourth)
  }

  .grid-column2-10 {
    grid-column:1/-1
    }


@media (min-width: 768px) {
  .grid-column2-10 {
    grid-column:1/-1
    }
}

@media (min-width: 860px) {

        .image-chaise {
          grid-row:3/5 span
          }   
          
          .txt--right {
            grid-column:6/-1
            }
            
            .txt--widther {
            grid-column:1/6
            }
            
            .grid-column4-7 {
            grid-column:4/7
            }
            
            .grid-column6-10 {
            grid-column:6/10
            }
            
            .grid-row3 {
            grid-row:3
            }
            
            .grid-column3-7 {
            grid-column:3/8
            }
            
            .grid-row5 {
            grid-row:5
            }
            
            .grid-column2-10 {
            grid-column:2/-1
            }
}
