 @import 'font';
 @import 'color';
 @import 'anim';
 @import 'grid';
 * {
     box-sizing: border-box;
     margin: 0;
     padding: 0;
     color: inherit;
     text-decoration: none;
     list-style: none;
}
 .html {
     max-width: 100vw;
     scroll-behavior: smooth;
     overflow-x: hidden;
}
 .width-100vw {
     width: 100vw;
}
 .header__container {
     top: 0;
     left: 0;
     width: 100%;
     z-index: 9999;
}
 .position-fixed {
     position: fixed;
}
.txt-inlineblock {
  display: inline-block;
}
 .display-flex {
     display: flex;
}
 .space-between {
     justify-content: space-between;
}
 .align-center {
     align-items: center;
}
 .opacity-0 {
     opacity: 0;
}
 .flex-column {
     flex-direction: column;
}
 .display-block {
     display: block;
}
 .cursor-pointer {
     cursor: pointer;
}
 .overflow-hidden {
     overflow: hidden;
}
 .position-relative {
     position: relative;
}
.borderradius-4{
  border-radius: 4px;
}
 .border-solid {
     border: 2px solid var(--color-text);
}
 .hidden {
     display: none;
}
 .lien:hover {
     text-decoration: overline;
}
 .couleurs{
     display: inline-flex;
     margin-top: 36px;
}

 .couleurs li{
     width: 75px;
     height: 75px;
}
/*Burger-menu*/
 .burger {
     padding: 0.5rem;
     margin-left: 80%;
     z-index: 9999;
     margin-top: 10%;
}
 .main-nav {
     height: 10vh;
}
 .nav__links {
     top: 10vh;
     right: 0;
     height: 50%;
     width: 70%;
     justify-content: space-around;
     transform: translateX(100%);
     transition: transform 0.3s ease;
     box-shadow: 0px 1px 2px var(--color-bg-offset);
}
 .nav__links a {
     width: 100px;
}
 .line {
     height: 3px;
     width: 35px;
     margin: 0.5rem 0;
     transition: transform 0.75s ease, opacity 0.75s ease;
}
 .menu-list_el {
     list-style: none;
}
 .person-card {
     margin-bottom: 20px;
     border: 1px solid #ccc;
     text-align: left;
}
/*Padding-Margin*/
 .citation {
     margin-top: 90px;
     margin-bottom: 90px;
}
 .margin-leftright1x {
     margin-left: 18px;
     margin-right: 18px;
}
 .margin-top3x {
     margin-top: 54px;
}
 .margin-top2x {
     margin-top: 36px;
}
 .margin-bottom1x {
     margin-bottom: 18px;
}
 .margin-bottom3x {
     margin-bottom: 54px;
}
 .padding-top3x {
     padding-top: 54px;
}
 .padding-bottom3x {
     padding-bottom: 54px;
}
 .padding-button {
     padding: 10px 20px;
}
 .padding-40 {
     padding-top: 30px;
     padding-right: 20px;
     padding-left: 45px;
}
 .padding-20 {
     padding: 20px;
}
 .margin-left20 {
     margin-left: 20px;
}
/*Images*/
 .imageintro--container {
     height: 90vw;
     width: 100vw;
     justify-content: center;
}
 .araph--logo {
     width: 300px;
     margin-left: auto;
     margin-right: auto;
}
 .img-tel {
     width: 300px;
}
/* Slider */
 .slider {
     width: 90%;
}
 .slider__el {
     position: absolute;
     top: 0;
     left: 0;
}
 .grid {
     display: grid;
     grid-template-columns: repeat(6, 1fr);
     grid-template-rows: repeat(4, 100px);
     gap: 2%;
}
 .slider__content {
     grid-column: 1 / 7;
     grid-row: 1 / 4;
     border-radius: 25px;
     background-color: var(--color-text-fourth);
     z-index: 10;
}
/* Control Slider */
 .slider__btn {
     z-index: 999;
     justify-self: center;
     align-self: flex-end;
     border-style: solid;
}
 .slider__controls {
     display: inline-flex;
     grid-row: 3;
     grid-column: 6;
}
 .grid-row3 {
     grid-row: 3;
}
 .slider__btn button {
     padding: 5px 15px 3px;
     border: none;
}
 .slider__arrows {
     position: absolute;
     top: 50%;
     transform: translateY(-50%);
     width: 100%;
     z-index: 999;
}
 .slider__arrow {
     width: 40px;
     height: 40px;
     opacity: 70%;
     border-radius: 50%;
     justify-content: center;
     margin: 0 10px;
     transition: background-color 0.3s ease;
}
 .slider__arrow svg {
     width: 20px;
     height: 20px;
     fill: #000;
}
/* Swipe */
 .swipe {
     width: 40px;
     height: 65px;
     margin-left: 45%;
}
/* Footer */
 .footer {
     max-width: 1500px;
     margin: auto;
     padding: 18px;
     bottom: 0;
}
 .footer__el {
     margin-bottom: 18px;
}
 .linkList__el {
     margin: 0 18px;
}
 @media (min-width: 350px) {
     .padding-40 {
         padding-top: 15px;
         padding-right: 65px;
         padding-left: 65px;
    }
     .nav__links {
         width: 50%;
    }
}
 @media (min-width: 768px) {
     .burger {
         display: none;
    }
     .nav__links {
         position: initial;
         flex-direction: row;
         box-shadow: initial;
         justify-content: flex-end;
    }
     .nav__links a {
         display: initial;
    }
     .nav__links li {
         margin-right: 48px;
    }
     .imageintro--container {
         height: 60vw;
    }
     .margin-leftright1x {
         margin-left: 24px;
         margin-right: 24px;
    }
     .swipe {
         margin-left: 47%;
    }
     .img-tel {
         position: relative;
         left: 25%;
    }
     .menu-container {
         width: 500px;
    }
}
 @media (min-width: 1024px) {
     .margin-leftright1x {
         margin-left: initial;
         margin-right: initial;
    }
     .img-tel {
         position: initial;
         left: initial;
    }
     .margin-left100 {
         margin-left: 100px;
    }
     .margin-top2x {
         margin-top: 48px;
    }
     .margin-top3x {
         margin-top: 96px;
    }
     .padding-top3x {
         padding-top: 96px;
    }
     .padding-bottom3x {
         padding-bottom: 96px;
    }
     .nomargin {
         margin-left: -80px;
         margin-right: -80px;
    }
     .margin-topspec {
         margin-top: 250px;
    }
     .araph--logo {
         width: 460px;
    }
     .imageintro--container {
         width: 50vw;
         height: 32vw;
         margin-top: 300px;
    }
     .imageintro--container-idx {
         width: 50vw;
    }
     .margintop-0 {
         margin-top: 24px;
    }
     .hidden {
         display: block;
    }
     .green-button {
         margin-top: 72px;
         width: 250px;
         height: 70px;
         display: flex;
         border-radius: 6%;
         align-items: center;
         justify-content: center;
         color: var(--color-bg);
         font-weight: bold;
    }
     .hidden-desktop {
         display: none;
    }
     .anim {
         width: 150px;
         margin-left: 200px;
         opacity: 1;
         transition: opacity 1s;
    }
     .fade-out {
         opacity: 0;
    }
     .redim-desktop {
         width: 300px;
         margin-right: 48px;
    }
     .slider {
         width: 80%;
    }
     .modules-width {
         width: 330px;
    }
     .margin-left {
         margin-left: 150px;
    }
     .margin-right {
         margin-right: 40px;
    }
     .margin-left500 {
         margin-left: 100px;
    }
}
 @media (min-width: 1440px) {
     .araph--logo {
         width: 500px;
         margin-top: 100px;
    }
     .margin-top3x {
         margin-top: 96px;
    }
     .margin-topspec {
         margin-top: 180px;
    }
     .nomargin {
         margin-left: -120px;
         margin-right: -120px;
    }
     .imageintro--container {
         margin-top: 240px;
    }
     .slider {
         width: 60%;
    }
     .modules-width {
         width: 500px;
    }
     .margin-left100 {
         margin-left: 300px;
    }
     .redim-desktop {
         width: 470px;
    }
     .margin-left50 {
         margin-left: 180px;
    }
     .margin-left500 {
         margin-left: 300px;
    }
    .imageintro--container-idx {
      width: 60vw;
 }
}
 @media (min-width: 1920px) {
     .imageintro--container {
         margin-top: 200px;
    }
     .margin-topspec {
         margin-top: 150px;
    }
     .redim-desktop {
         width: 500px;
    }
     .margin-left100 {
         margin-left: 500px;
    }
     .margin-left50 {
         margin-left: 380px;
    }
     .margin-left500 {
         margin-left: 500px;
    }
     .margin-right {
         margin-right: 120px;
    }
     .slider__controls {
         grid-column: 5;
    }
     .slider__arrows {
         width: 88% 
    }
}
 @media (min-width: 2500px) {
     .imageintro--container-idx {
         width: 60vw;
    }
     .slider__arrows{
         width: 95%;
    }
     .margin-topspec{
         margin-top: 300px;
    }
}
 