@import "font";
@import "color";
@import "anim";
@import "grid";
@import "node_modules/aos/src/sass/aos";

* {
box-sizing:border-box;
color:inherit;
list-style:none;
margin:0;
padding:0;
text-decoration:none
}

.html {
overflow-x:hidden;
scroll-behavior:smooth
}

main {
margin:auto;
max-width:1920px
}

.hidden {
display:none
}

.header {
background-color:var(--color-bg-third);
border-bottom-right-radius: 50px;
left:0;
opacity:.9;
position:fixed;
top:0;
width:40vw;
z-index:9999
}

.progress-container {
background-color:#ccc;
bottom:0;
height:5px;
left:0;
position:fixed;
width:100%;
z-index:9999
}

.progress-container_bar {
background-color:var(--color-text-offset);
height:100%;
transition:width .3s ease;
width:0
}

//Burger-menu et navigation
.main-nav_burger {
cursor:pointer;
margin-left:30%;
padding:.5rem;
z-index:9999
}

.main-nav {
align-items:center;
display:flex;
font-size:24px;
height:5vh;
opacity:1
}

.main-nav_links {
align-items:center;
background-color:var(--color-bg);
display:flex;
flex-direction:column;
font-weight:700;
height:100vh;
justify-content:center;
opacity:1;
position:fixed;
top: 0vh;
right:0;
transform:translateX(100%);
transition:transform .3s ease;
width:100vw
}

.main-nav_links a {
    margin-bottom: 18px;
}

.main-nav_burger-line {
background-color:var(--color-bg);
display:block;
height:2px;
margin:.5rem 0;
transition:transform .75s ease,opacity .75s ease;
width:40px
}

.main-nav_links_el {
list-style:none
}

.main-nav_links_el_link {
align-items:center;
display:block;
opacity: 0;
transition: opacity 1.5s ease-in-out;
}

.main-nav_links_el_link:hover {
    text-decoration: overline;
    }

.el_link--active {
text-decoration:underline
}

//Footer
.footer {
align-items:center;
bottom:0;
display:flex;
flex-direction:column;
margin:auto;
max-width:1500px;
padding:18px
}

.footer__el {
margin-bottom:18px
}

.footer-links__el {
margin:0 18px
}

.footer-links {
display:flex
}

//Ui-kit
.couleurs {
display:inline-flex;
margin-top:36px
}

.couleurs li {
border-style:solid;
border-width:1px;
height:90px;
margin:5px;
width:90px
}

.visited {
opacity:.7;
text-decoration:line-through
}

//Vidéo
.video__container {
height:30vh;
max-width:100vw
}

//Defilement
.defilement-container {
background-color:var(--color-text-fourth);
margin-bottom:90px;
margin-top:90px;
max-width:100vw;
overflow-x:hidden;
position:relative
}

//Interviews
.person-card {
border:1px solid #ccc;
border-radius:5px;
margin-bottom:20px;
text-align:left
}

.details-interview {
border-bottom:1px solid #BFBFBF;
max-width:80vw
}

.details-interview-summary {
cursor:pointer;
padding:18px 0;
z-index:0
}

.more {
height:15px;
margin-left:20px;
transition:transform .5s;
width:15px
}

//Images
.introImage-container {
display:flex;
height:60vw;
justify-content:center;
margin:36px -36px;
overflow:hidden
}

.image {
grid-column:1/5;
margin-bottom:36px;
width:70vw
}

@media (min-width: 768px) {
//Image 
.introImage-container {
margin-top:5vh;
max-height:40vh
}

.image {
width:20vw
}
.content {
max-width:100vw
}

//Video
.video__container {
height:315px;
width:560px
}

//Interview
.details-interview {
max-width:100vw
}

.more {
height:15px;
margin-left:700px;
transition:transform .5s;
width:15px
}

.header{
    width: 30vw;
}

.main-nav_burger {
margin-left:80%;
}
    

@media (min-width: 860px) {
.introSection {
display:grid;
grid-template-columns:1fr 1fr 1fr 1fr 1fr;
margin:auto;
margin-bottom:160px;
margin-top:120px;
max-width:1400px
}

.content {
grid-template-columns:1fr 1fr 1fr 2fr 1fr 2fr 2fr 1fr 1fr;
margin:auto;
max-width:1400px;
padding:auto
}

//Interviews
.details-interview {
max-width:750px
}

.more {
height:30px;
margin-left:700px;
transition:transform .5s;
width:30px
}

//Oeil eye-track
.oeil {
background-color:#fff;
border:5px solid #333;
border-radius:50%;
grid-column:6;
grid-row:16 / 2 span;
height:150px;
overflow:hidden;
position:relative;
width:150px
}

.pupille {
background-color:#333;
border-radius:50%;
height:50px;
left:50%;
position:absolute;
top:50%;
transform:translate(-50%,-50%);
transition:transform .1s ease-out;
width:50px
}

//Image
.introImage-container {
grid-column:2/-1;
grid-row:1 / 5;
margin:auto;
margin-top:180px;
max-height:40vh
}

.image-araph {
grid-column:5 / -1;
grid-row:6 / 3 span;
margin-top:105px;
rotate:90deg
}

.hidden {
display:initial
}

.hidden-desktop {
display:none
}

//Bouton
.green-button {
align-items:center;
border-radius:4px;
color:var(--color-bg);
display:flex;
font-size:36px;
grid-column:1;
height:70px;
justify-content:center;
text-align:center;
width:250px
}

.green-button:hover {
color:var(--color-bg);
opacity:.8;
scale:1.1;
text-decoration:none
}

.topSection {
height:35vh
}

//Titre
.introSection_title {
grid-column:1/2;
line-height:1.2;
margin-top:120px;
max-width:1000px
}

.introSection_subtitle {
grid-column:1;
margin-top:32px;
max-width:1000px
}

.section {
padding-bottom:5em
}

.citation {
grid-column:1/-1;
margin:auto;
margin-top:3em
}

.slider-container {
border-radius:100px;
margin-left:20vw;
margin-top:5em;
max-width:60vw
}
}

.image-chaise {
    grid-row:2/5 span;
    width: 25vw;
}
    

@media (min-width: 1366px) {
.slider__content {
padding-left:5vw
}
}
}