@import 'utils/variables';
@import 'components/type';
@import url('https://fonts.googleapis.com/css2?family=Lora:ital,wght@0,400;0,700;1,400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Merriweather:wght@400;700&display=swap');
@import "anim"; /*css des animations */

:root{ 
  --color-bg: #FFF8F8;
  --color-bg-offset: #181818;
  --color-text: #000000;
  --color-text-offset: #002D72;
  --color-text-third: #525252;
  --color-text-fourth: #72002D;
  --color-bg-third: #2D7200;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  color: inherit;
  text-decoration: none;
  list-style: none;
}

.site{
  max-width: 1980px;
}

.lora{
  font-family: 'Lora', serif;;
}

.header--container {
  top: 0;
  left: 0;
  width: 100%;
  z-index: 9999;
}

//Optimisation 

.position-fixed{
  position: fixed
}

.display-flex{
  display: flex;
}

.space-between{
 justify-content: space-between;
}

.align-center{
  align-items: center;
}

.opacity-0{
  opacity: 0;
}

.flex-column{
  flex-direction: column;
}

.display-block{
  display: block;
}

.cursor-pointer{
  cursor: pointer;
}

.overflow-hidden{
  overflow: hidden;
}

.position-relative{
  position: relative;
}

.padding-10{
  padding: 10px;
}

.hidden{
  display: hidden;
}

/*Burger-menu*/

.main-nav {
  height: 10vh;
}

.main-nav.show .line--1 {
  transform: translate(-10px) rotate(45deg) translate(15px);
}

.main-nav.show .line--2 {
  opacity: 0;
}

.main-nav.show .line--3 {
  transform: translate(-10px) rotate(-45deg) translate(15px);
}

.main-nav.show .nav-links {
  transform: translateX(0%);
}

.nav-links {
  top: 10vh;
  right: 0;
  height: 50%;
  width: 50%;
  justify-content: space-around;
  transform: translateX(100%);
  transition: transform 0.3s ease;
  box-shadow: 0px 1px 2px var(--color-bg-offset);
}

.nav-links a {
  width: 100px;
}

.menu-itemactive{
  text-decoration: underline;
} 

.menu-itemactive:hover{
  text-decoration: overline;
} 

.burger {
  padding: 0.5rem;
  margin-left: 80%;
  z-index: 9999;
}

.line {
  height: 3px;
  width: 35px;
  margin: 0.5rem 0;
  background: black;
  transition: transform 0.75s ease, opacity 0.75s ease;
}

.menu-list_el{
list-style: none;
}

/*Titres*/

.first-title{
  margin-top: 120px;
  font-size: 48px;
  font-weight: 400;
  line-height: 58px;
}

.second-title{
  font-size: 24px;
  white-space: pre-line;
}

.merriweather{
  font-family: 'Merriweather', serif;
}

.citation{
  margin-top: 90px;
  margin-bottom: 90px;
}

/*Couleurs*/

.color-black{
  color: var(--color-text);
}

.color-grey{
  color: var(--color-text-third);
}

.color-red{
  color: var(--color-text-fourth);
}

.color-blue{
  color: var(--color-text-offset);
}

.color-white{
color: var(--color-bg);
}

.bluesection--container{
  background-color: var(--color-text-offset);
}

.backgroundcolor-white{
  background-color: var(--color-bg);
}

/*Texte*/

.txt{
  font-size: 18px;
  line-height: 25px;
  max-width: 60ch;
}

.txt-italic{
  font-style: italic;
  font-weight: lighter;
}

.txt-bold{
  font-weight: bold;
}

.txt-underline{
  text-decoration: underline;
}

.txt-inlineblock{
  display: inline-block;
}

.centered{
  text-align: center;
}

.margin-leftright1x{
  margin-left: 18px;
  margin-right: 18px
}

.margin-top3x{
  margin-top: 54px;
}

.margin-top2x{
  margin-top: 36px;
}

.margin-bottom1x{
  margin-bottom: 18px;
}

.margin-bottom2x{
  margin-bottom: 18px;
}

.margin-bottom3x{
  margin-bottom: 54px;
}

.padding-top3x{
  padding-top: 54px;
}

.padding-bottom3x{
  padding-bottom: 54px;
}

.border-solid{
  border: 2px solid var(--color-text);
  border-radius: 4px;
}

.padding-button{
  padding: 10px 20px;
}


/*Images*/

.imageintro--container{
  height: 90vw  ;
  width: 100vw;
  justify-content: center;
}

.araph--logo{
  width: 300px;
  margin-left: auto;
  margin-right: auto;
}

.img--idee{
  width: 350px;
}

.img--interviews{
  width: 580px
}

/* Slider */

.slider{
  width: 90%;
}

.slider__el{
  position: absolute;
  top: 0;
  left: 0;
}


.grid{
  display: grid;
  grid-template-columns: repeat(6,1fr);
  grid-template-rows: repeat(4,100px);
  gap: 2%;
}

.slider__content{
  grid-column: 1 / span 6;    
  grid-row: 1 / 4 ;
  border-radius: 25px;
  background-color: var(--color-text-fourth);
  z-index: 10;
}

/* Control Slider */
.slider__btn{
  z-index: 999;
  justify-self: center;
  align-self: flex-end;
}

.grid-row3{
  grid-row: 3;
}

.gridcolumn5{
  grid-column: 5;
}

.gridcolumn6{
  grid-column: 6;
}


.slider__btn button{
  padding: 10px 20px 8px;
  border: none;
}

/* Footer */

.footer {
  max-width: 1500px;
  margin: auto;
  padding: 18px;
}

.footer__el {
  margin-bottom: 18px;
}

.footer a:hover {
  color: var(--color-text-fourth);
}

.linkList__el {
  margin: 0 18px;
}
.linkList__el--active {
  border-bottom: 2px solid var(--c-third);
}

//Style desktop

@media (min-width: 1025px) {

  .margin-leftright1x{
      margin-left: initial;
      margin-right: initial;
  }
  
  .main--grid{
    display: grid;
    grid-template-columns:repeat(5,1fr);
    grid-template-rows: auto;
    grid-column-gap: 24px;
    margin-left: 120px;
    margin-right: 120px;
    max-width: 1980px;
  }
  
  .first-title{
    font-size: 96px;
    line-height: 106px;
    grid-column: 1 / 2;
    margin-top: 240px;
  }
  
  .second-title{
    font-size: 48px;
  }
  
  .imageintro--container{
    margin-left: 120px;
    width: 1047px;
    height: 600px;
    grid-column: 2;
    margin-top: 240px;
  }
  
  .txt{
      font-size: 24px;
  }
  
  .txt-36{
    font-size: 36px;
  }
  
  .burger{
    display: none;
  }
  
  .nav-links {
    position: initial;
    flex-direction:row; 
    box-shadow: initial;
    justify-content: flex-end;
  }
  
  .nav-links a{
    display: initial;
  }
  
  .nav-links li{
    margin-right: 48px;
  }
  
  .green-button{
      margin-top: 72px;
      width: 250px;
      height: 70px;
      background-color: var(--color-bg-third);
      display: flex;
      border-radius: 6%;
      align-items: center;
      justify-content: center;
      color: var(--color-bg);
      font-weight: bold;
  }

  .hidden-desktop{
    display: none;
  }
  }
  